@model BookListViewModel

@{
    ViewData["Title"] = " | Book Catalog";

    BookGridData current = Model.CurrentRoute;
    GridData routes = Model.CurrentRoute.Clone();
}

<h1>Book Catalog</h1>

<div class="row mb-4">
    <div class="col-md-6">
        <form class="d-flex" method="get" asp-action="List" asp-controller="Book">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="SearchTerm" value="">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
    <div class="col-md-6">
        <form method="get" asp-action="List" asp-controller="Book">
            <select class="form-select" name="CategoryId" onchange="this.form.submit()">
                <option value="">All Categories</option>
               @*  @foreach (var category in Model.Categories)
                {
                    <option value="@category.CategoryId" @(current.CategoryId == category.CategoryId ? "selected" : "")>
                        @category.Name
                    </option>
                } *@
            </select>
        </form>
    </div>
</div>



<section class="book-list mb-5">

    @* Add to cart form *@
    <form asp-action="Add" asp-controller="Cart" method="post">
        <div class="row">
            @foreach (Book book in Model.Books)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="Book Cover">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a asp-action="Details" asp-route-id="@book.BookId"
                                   asp-route-slug="@book.Title.Slug()">
                                    @book.Title
                                </a>
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                @foreach (var a in book.Authors)
                                {
                                    <a asp-action="Details" asp-controller="Author"
                                       asp-route-id="@a.AuthorId"
                                       asp-route-slug="@a.FullName.Slug()">
                                        @a.FullName
                                    </a>
                                    @if (a != book.Authors.Last())
                                    {

                                    }
                                }
                            </h6>
                            <p class="card-text">Genre: @book.Genre.Name</p>
                            <p class="card-text">Price: @book.Price.ToString("c")</p>
                            <button type="submit" name="id" value="@book.BookId" class="btn btn-primary">
                                Add To Cart
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </form>

</section>

@* Paging links *@
@{
    routes = current.Clone();

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                routes.PageNumber = i;
                string active = @Nav.Active(i, current.PageNumber);
                <li class="page-item @active">
                    <a asp-action="List" asp-all-route-data="@routes.ToDictionary()" class="page-link">@i</a>
                </li>
            }
        </ul>
    </nav>
}
